@tailwind base;
@tailwind components;
@tailwind utilities;



.card {
  height: 325px;
  width: 275px;
}
.card__side {
    height: 325px;
    width: 275px;
    transition: all 0.8s ease;
    position: absolute;
    -webkit-backface-visibility: hidden;
   /* We don't want to see the back part of the element. */
    backface-visibility: hidden;
   /* We don't want to see the back part of the element. */
    overflow: hidden;
   /* The image is overflowing the parent. */
}

.card__side--back {
    transform: rotateY(180deg);
}
.card:hover .card__side--back {
    transform: rotateY(0);
}
.card:hover .card__side--front {
    transform: rotateY(-180deg);
}

